<header>
    <nav class="navbar" style="background-color:#7ba8cb ;">
        <div class="container-fluid">
          <a class="navbar-brand" style="color: white; font-weight:bold;font-size: x-large;">
            <img src="assets\image\medical.svg" alt="Logo" width="38" height="38" class="d-inline-block align-text-top">
            &nbsp;&nbsp;E-Application : Health Care Organizations
          </a>
        </div>
      </nav>
  </header>

<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Sign Up</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="signupForm">
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="signupForm.controls['userName'].dirty && signupForm.hasError('required','userName')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="userName" type="text" placeholder="Username">
                                </div>
                            </div>
                            <small *ngIf="signupForm.controls['userName'].dirty && signupForm.hasError('required','userName')" class="text-danger">*Username is required</small>
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="signupForm.controls['password'].dirty && signupForm.hasError('required','password')">
                                    <span class="fa fa-lock p-2"></span>
                                    <input formControlName="password" [type]="type" placeholder="Password">
                                    <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                                </div>
                            </div>
                            <small *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required','password')" class="text-danger">*Password is required</small>
                           
                            <div class="form-group pt-3">
                                <div class="container">
                                    <input formControlName="roles" type="radio" value="user" name="roles"> HCO User
                                    &nbsp;&nbsp;
                                    <input formControlName="roles" type="radio" value="ae" name="roles"> Account Executive
                                </div>
                            </div>
                            <small *ngIf="signupForm.controls['roles'].dirty && signupForm.hasError('required','roles')" class="text-danger">*Select a role</small>

                            <button (click)="onSignup()" type="submit" class="btn btn-primary btn-block mt-4 w-100">Sign Up</button>
                            <div class="text-center pt-4 text-muted">Already have an account?  <a routerLink="/login" id="forget">Login</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <app-footer></app-footer>
</footer>

