<header>
    <app-header></app-header>
</header>

<nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Health Care Organization Information</a>
      <div>
        Hello,<h4>{{userName}}</h4>
      </div>
    </div>
  </nav>

<div class="container">
    <app-ae-form></app-ae-form>

</div>



<div class="container" *ngIf="hcoinfoService.listApprove?.length"><table class="table table-bordered" >
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Organization Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>HCO Website</th>
            <th>Primary Contact</th>
            <th>Primary Contact Number</th>
            <th>Status</th>
            <th>Submitted By</th>
            <th></th>
        </tr>
    </thead>
    <tbody >
        <tr *ngFor="let info of hcoinfoService.listApprove" >
            <td>{{info.id}}</td>
            <td>{{info.organizationName}}</td>
            <td>{{info.address}}</td>
            <td>{{info.email}}</td>
            <td>{{info.webSite}}</td>
            <td>{{info.primaryContact}}</td>
            <td>{{info.primaryContactPhone}}</td>
            <td>{{info.status}}</td>
            <td>{{info.submittedBy}}</td>
            <td>
                <button class="btn btn-outline-info" type="button" id="button" data-toggle="button" aria-haspopup="true" aria-expanded="false" (click)="populateInfo(info)" [disabled]="info.status!='Submitted'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                      </svg>&nbsp; View
                </button>
            </td>
        </tr>
    </tbody>
</table>
</div>


<div class="container" *ngIf="!hcoinfoService.listApprove?.length">
    <b style="font-weight: bold;font-size:xx-large;">No Records Available for Approval</b>
</div>